/*webkit-sassui-scaleable-image Start*/
.webkit-sassui-scaleable-image {
  display: block;
  overflow: hidden;
}

.webkit-sassui-scaleable-image .is-scaleable {
  transition: all ease-out 0.3s;
}

.webkit-sassui-scaleable-image:hover .is-scaleable {
  transform: scale(1.05, 1.05);
}

/*webkit-sassui-scaleable-image End*/
.test-webkit-sassui-scaleable-image {
  border: 1px solid red;
}

.test-webkit-sassui-scaleable-image .box {
  width: 110px;
  height: 110px;
}
