@import "../dist/index.scss";

.test-webkit-sassui-scaleable-image {
  width: 30%;
  margin: 30px auto;
  .box {
    border: 1px solid rosybrown;
    width: 100%;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}
